<footer id="footer">
	<div class="container">  
		<div class="row">
			<div class="col-xs-12 col-md-12 txt-center">
				<div>
		            <ul class="list-inline">
	                    <li><a href="#">Online Help</a></li>
	                    <li class="divider">|</li>
	                    <li><a href="#">Locations</a></li>
                        <li class="divider">|</li>
                        <li><a href="#">Careers</a></li>
	                    <li class="divider">|</li>
	                    <li><a href="#" id="ctl00_mediaURL" target="_blank">For the Media</a></li>
	                    <li class="divider">|</li>
	                    <li><a href="#">About AAA</a></li>
	                    <li class="divider">|</li>
	                    <li><a href="#">Site Map</a></li>
	                    <li class="divider">|</li>
	                    <li><a href="#">Terms of Use</a></li>
	                    <li class="divider">|</li> 
	                    <li><a href="#">Privacy Notice</a></li>
		            </ul>
		            <p>Serving AAA Members and residents of Florida as well as Georgia and Tennessee.</p>
	                <ul class="list-inline">
	                    <li><a href="#">Other AAA Clubs</a></li>
	                    <li class="divider">|</li>
	                    <li>800.222.1134</li>
	                    <li class="divider">|</li> 
	                    <li>© 2016 AAA, All Rights Reserved.</li>
	                </ul>
	            </div>
			</div>
		</div>
	</div>
</footer>