<div id="main-content" role="main" itemprop="mainContentOfPage">
		  	
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-8 sm-marB20 xs-marB20">
						<img src="/images/hm-banner.jpg">
					</div>
					<div class="col-xs-12 col-md-4 sm-mart20 xs-marB20">
						<img src="/images/my-aaa.png">
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-4 sm-marB20 xs-marB20">
						<img src="/images/1st-col.png">
					</div>
					<div class="col-xs-12 col-md-4">
						<img src="/images/2nd-col.png">
					</div>
					<div class="col-xs-12 col-md-4">
						<img src="/images/3rd-col.png">
					</div>
				</div>
			</div>
		</div> <!-- /main -->



<!--
<div class="home">
    <div class="container">
        <div class="login-page clearfix">
          <div class="login-box auth0-box before">
            <h3>Home</h3>

          </div>
        </div>
    </div>
</div>
-->