
<div class="home">
    <div class="container">
        <div class="login-page clearfix">
          <div class="login-box auth0-box before">
            <h3>Home</h3>

          </div>
        </div>
    </div>
</div>
